*.pyc
*.vtk
*.dcm
*.log
*.rar
*.pyc
*.psd
*.gz
*.rar
*.xlsx
*.pkl
*.doc
*.docx
*.db
*.pth
*.autosave
*.log
*.dcm
*.bak
*.mrb
*.sql
/lib/Python/Lib/site-packages/torch
/lib/Python/Lib/site-packages/torch-2.3.0.dist-info
/lib/Python/Lib/site-packages/torchgen
/GLPyModule/JExtension/MONAIAuto3DSeg/Resources/MONAIAuto3DSeg/models/anatomy_and_icrh-v1.0.0/model.pt
/bin/tmp
/NA-MIC/Slicer.ini
/GLPyModule/Project/PAAA/ProjectCache/settings.ini
/NA-MIC/Slicer-3426.ini
/GLPyModule/CExtension/SlicerANTs/antsUtilities.lib
/NA-MIC/Slicer-3147.ini
/GLPyModule/JExtension/UnitProtectionHat/Resources/UI/tmp.stl
/GLPyModule/JExtension/UnitRepairSkull/Resources/UI/tmp.stl
/GLPyModule/JExtension/UnitProtectionHat/Resources/UI/tmp.nrrd
